.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }
  
  .social-links ion-icon {
    height: 2.4rem;
    width: 2.4rem;
  }

  .footer-link:link,
  .footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
  }
  
  .footer-link:hover,
  .footer-link:active {
    color: #555;
  }
  